body {
	background-color:  black;
}
#container ul{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}
#container ul li{
	
	float: left;
	front-weight:bold;
	color: #FFFFFF;
	background-color: grey;
	width: 150px;
	tect-align:center;
	padding:4px;
	text-decoration: none;
	line-height: 50px;
	border: 1px solid white;
	text-align: center;
	height: 50px;
	font-size: 15px;
	
}
#container ul li:hover{
				background-color: black;
	display: block;

}
#container ul ul{
	display: none;
}
#container ul li:hover {
	display: block;
}
a:link,a:visited{
	text-decoration: none;
	display: block;
	front-weight:bold;
	color: #ffffff;
	background-color: #98bf21;
	padding:4px;
	text-align: center;
	text-transform: uppercase;
}