@charset "utf-8";
/* CSS Document */
body{
	background-color: black;
	background-image: url(back.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
.slide-container{
	height: 200px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
}
.image-container{
	height: 200px;
	width:  1600px;
	position: relative;
	transition:left 2s;
	/*animation: tej 12s infinite; */
}
.slider-image{
	padding: 0px;
	margin: 0px;
	float: left;
	
}
.button-container{
	top: -25px;
	position: relative;
}
.slider-button{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background-color: white;	
}
#slider-image-1:target~.image-container{
	left: 0px;
}
#slider-image-2:target~.image-container{
	left: -400px;
}
#slider-image-3:target~.image-container{
	left: -800px;
}
#slider-image-4:target~.image-container{
	left: -1200px;
}
/*
@keyframes tej{
	0%{
		left: 0px;
	}
	20%{
		left: 0px;
	}
	25%{
		left: -400px;
	}
	50%{
		left: -800px;
	}
	75%{
		left: -1200px;
	}
	100%{
		left: -1600px;
	}
}
*/
#reg-form{
	background: #BAB3B3;
	
}
}0.button-container.slider-image}